* {
    font-style: normal;
}

:root {
    --background: #ffffffee;
    --headerFooter: #161616;
    --text: rgb(217, 35, 46);
    --button-bg: #161616;
    --button-text: #ffffffee;
}

nav.navbar {
    background-color: var(--headerFooter);
    color: var(--text);
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: sticky;
    top: -5px;
    z-index: 2;
    height: 70px;
    min-height: 70px;
    /* background-color: #fff; */
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

a.link {
    text-decoration: none;
    color: var(--background);
    padding: 10px;
}