:root {
    --background: #ffffffee;
    --headerFooter: #161616;
    --text: rgb(217, 35, 46);
    --button-bg: #161616;
    --button-text: #ffffffee;
}

button.bt.btn.btn-secondary {
    background-color: var(--button-bg);
    border-color: var(--headerFooter);
}