:root {
    --background: #ffffffee;
    --headerFooter: #161616;
    --text: rgb(217, 35, 46);
    --button-bg: #161616;
    --button-text: #ffffffee;
}


button.btd.btn.btn-secondary {
    background-color: rgb(217, 35, 46);
    border-color: rgb(217, 35, 46);
}