:root {
    --background: #ffffffee;
    --headerFooter: #161616;
    --text: rgb(217, 35, 46);
    --button-bg: #161616;
    --button-text: #ffffffee;
}

.cards {
    text-align: center;

}

.main {
    display: flex;
    padding: 10px;
    padding-top: 80px;
    flex-wrap: wrap;
}

.mainDiv {
    display: flex;
    padding: 5px;
}

button.bt.btn.btn-primary {
    background-color: var(--button-bg);
    border-color: var(--headerFooter);
}